.container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 15px;
  background-color: Honeydew;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.btn:hover {
  background-color: #d6fcd6;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
